<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.google.mapper.SelectOneAttachMapper">

<insert id="insert">
INSERT INTO selectone_attach 
VALUES(#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{select_pk})
</insert>

<delete id="delete">
DELETE FROM selectone_attach WHERE uuid = #{uuid}
</delete>

<select id="findByPk" resultType="com.google.domain.SelectOneAttachDTO">
SELECT * FROM selectone_attach WHERE select_pk = #{select_pk}
</select>


<delete id="deleteAll">
DELETE FROM selectone_attach WHERE select_pk = #{select_pk}
</delete>


<select id="getOldFiles" resultType="com.google.domain.SelectOneAttachDTO">
SELECT * FROM selectone_attach WHERE uploadpath = 
(SELECT DATE_FORMAT(date_add(curdate(), interval-1 day),'%Y\%m\%d'));
</select>



</mapper>